$font-family-base: 'DM Sans', sans-serif;
$font-family-lato: 'Lato', sans-serif;
$font-family-mulish: 'Mulish', sans-serif;
$body-bg: #F5F5F5;
$body-color: #696871;
$white: #fff;
$gray-200: #E7E7E7;
$gray-900: #19191B;
$primary:    #5454D4;
$warning:    #FF7143;
$border-radius: 10px;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1070px
);
$h1-font-size: 5rem;
$h3-font-size: 1.8125rem;
$headings-font-family: $font-family-base;
$navbar-padding-y: 1.875rem;
$nav-link-color: $body-color;
$nav-link-hover-color: $gray-900;
$btn-padding-y: 1rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1.0625rem;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-link-color: $white;
$btn-link-hover-color: $white;
$input-bg: $white;
$form-floating-height: 4.0625rem;
$input-font-family: $font-family-lato;
$input-font-size: 1rem;
$input-font-weight: 500;
$input-color: $gray-900;
$form-floating-padding-x: 1rem;
